@import '../../colors.scss';

.button-component {
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	margin: 10px;
	background-color: $main;
	border-radius: 7px;
	box-shadow: 2px 2px 5px $darkShade;
	color: $lightShade;

	font-weight: 500;

	&:hover {
		background: $darkAccent;
		cursor: pointer;
	}
}

.button-component[disabled] {
	background-color: $darkShade;
	cursor: not-allowed;
}
