.board-cell {
	&.white {
		background-color: white;
	}

	&.black {
		background-color: black;

		&.droppable {
			background-color: yellow;
		}

		&.hovering {
			background-color: lime;
		}

		&.last-start {
			background-color: #79d957;
		}

		&.last-end {
			background-color: #67d43f;
		}
	}
}
