.board-cell {
	&.white {
		background-color: white;
	}

	&.black {
		background-color: black;

		&.droppable {
			background-color: yellow !important;
		}

		&.hovering {
			background-color: lime !important;
		}

		&.last-move {
			background-color: #858484;
		}
	}
}
