@import '../../colors.scss';

.board-container {
	display: flex;

	width: fit-content;
	align-items: center;
	justify-content: center;
	margin: 10px;
	background-color: $darkShade;
	border-radius: 5px;
}

.board {
	display: inline-grid;
	width: 98%;
	height: 98%;

	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(18, 1fr);
}
