@import '../../../colors.scss';

.replay {
    display: flex;
	align-items: center;
	justify-content: center;

	.player-info-container {
		display: flex;
		justify-content: center;
		width: 9rem;
		height: 90%;
		flex-wrap: wrap;
	}

	.replay-controls {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: $darkShade;
		color: $lightShade;
		border-radius: 5px;
		padding: .5rem;
	}
}